<app-barra-cerca
        (cercaCanviada)="onCerca($event)">
</app-barra-cerca>

<!-- Spinner  -->
<div class="spinner-contenidor" *ngIf="carregant">
    <div class="spinner"></div>
    <p>Carregant credencials...</p>
</div>

<!-- Llista targetes -->
<div class="llista" *ngIf="!carregant">

    <app-targeta-element
        *ngFor="let element of elementsFiltrats; trackBy: trackById"
        [element]="element">
    </app-targeta-element>

    <p class="no-resultats" *ngIf="elementsFiltrats.length === 0">
        No s'han trobat credencials.
    </p>
</div>