<app-barra-cerca
        (cercaCanviada)="onCerca($event)">
</app-barra-cerca>

<!-- Spinner  -->
@if (elementService.carregant()) {
    <div class="spinner-contenidor">
        <div class="spinner"></div>
        <p>Carregant credencials...</p>
    </div>
}
<!--Estat error-->
@if (elementService.error()) {
    <div class="error-contenidor">
        <p class="error-msg">{{ elementService.error() }}</p>
        <button (click)="elementService.obtenirPopulars()">Torna a intentar-ho</button>
    </div>
}
<!--Llista de targetes-->
@if (!elementService.carregant() && !elementService.error()) {
    <div class="llista">
        @for (element of elementService.elements(); track element.id) {
            <app-targeta-element [element]="element"></app-targeta-element>
        } @empty {
            <!-- Estat sense resultats -->
            <p class="no-resultats">No s'han trobat credencials.</p>
        }
    </div>
}