.header{
  background-image: url('/background2.png');
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 0px;
  padding: 7rem 1.5rem;
  border-bottom: 3px solid #cacaca;

    img[alt*="logo"] {
      transform: scale(1.4)
  }
}
.footer {
  text-align: center;
  padding: 3rem 1.5rem;
  background: #1b6479;
  color: #c5c5c5;
  margin-top: 2rem;

  &__text {
    font-size: 1.1rem;
    margin: 0;
  }
}
app-llista-elements {
  display: block;
  min-height: calc(100vh - 200px);
}

//invisible
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background: #1f2937;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0 0 8px 0;
  text-decoration: none;
  z-index: 9999;
  transition: top 0.2s;

  // Es mostra quan rep el focus
  &:focus {
    top: 0;
  }
}

