<div class="targeta" 
    *ngIf="element" 
    [ngClass]="element.categoria.toLowerCase()" 
    role="article" 
    [attr.aria-label]="'Credencial de ' + element.titol"
    tabindex="0">
    
    <!-- Capçalera amb nom i categoria -->
    <div class="targeta__capçalera">
        <img [src]="element.imatgeUrl" [alt]="'Logo de ' + element.titol" class="targeta__logo">
        <h3 class="targeta__nom">{{ element.titol }}</h3>
        <span class="targeta__categoria" role="note">{{ element.categoria | uppercase }}</span>
    </div>

    <!-- Cos, els emojis no es llegeixen en veu alta, les altres si-->
    <div class="targeta__cos">
        <p><span aria-hidden="true">👤</span> <span aria-label="Usuari">{{ element.usuari }}</span></p>
        <p><span aria-hidden="true">🔒</span> <span aria-label="Contrasenya oculta">••••••••••••</span></p>
        <p><span aria-hidden="true">💪</span> <span aria-label="Seguretat">{{ element.preu | number }}/100</span></p>
        <p><span aria-hidden="true">📏</span> <span aria-label="Longitud">{{ element.longitud }} caràcters</span></p>
        <p><span aria-hidden="true">📅</span> <span aria-label="Data de creació">{{ element.dataCreacio | date:'dd/MM/yyyy' }}</span></p>
    <p *ngIf="element.url"><span aria-hidden="true">🌐</span> <span aria-label="URL">{{ element.url }}</span></p>
    </div>
</div>
