/* You can add global styles to this file, and also import other style files */

head{
    background: rgb(177, 176, 183);
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}
body{
    margin:0px;
    background-color: rgb(233, 237, 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    overflow-y: scroll;
}