<div class="barra-cerca">
  <form #cercaForm="ngForm" (ngSubmit)="onCerca()">
    <div class="input-boto">

      <!-- Label invisible -->
      <label for="cercaInput" class="visually-hiden">
        Cerca credencials
      </label>

      <!-- Camp de cerca -->
      <input
        id="cercaInput"
        type="text"
        name="textCerca"
        placeholder="Cerca credencials..."
        [(ngModel)]="textCerca"
        #campCerca="ngModel"
        minlength="3"
        autocomplete="off"
        (ngModelChange)="onCerca()">

      <!-- Botó de cerca -->
      <button type="submit" [disabled]="cercaForm.invalid && cercaForm.dirty">
        <span class="material-icons">search</span>
      </button>
    </div>

    <!-- Missatge error -->
    <p class="error" *ngIf="textCerca.length > 0 && textCerca.length < 3">
      Mínim 3 caràcters per cercar
    </p>
  </form>
</div>
